:root {
        --primary-color: #3B0D11;
        --secondary-color: #45503B;
        --accent1-color: #FFFFFF;
        --accent2-color: #A57F60; 
        --font-title: 'Bebas Neue', sans-serif;
        --font-text: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding: 10px ;
    background-color: var(--secondary-color);
}

header img {
    height: 100px;
    width: auto;
    justify-self: start;
    margin-left: 220px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;      
    color: var(--accent1-color);
    font-size: 120%;
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
    color: var(--accent1-color);
    padding-left: 1rem;
    margin-top: 1rem;
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    color: var(--primary-color);
    font-family:'Bebas Neue', sans-serif ;
    font-size: 2rem;
    margin-top: 2rem;
    align-items: center;
}

p {
    padding: 0;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.hero {
    position: relative;
}
  
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
  
.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--accent1-color);
    font-size: 4.5rem;
    z-index: 2;
}
  
.hero article {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: var(--accent1-color);
    z-index: 1;
}
  
.hero article img {
    float: right; 
    margin-left: 20px;
    width: 250px;
    height: auto;
}
  
.hero article p {
    text-align: left;
    font-size: 1rem; 
    line-height: 1.6;
    opacity: 0.9;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}
.gallery img {
    width: 200px;
    height: auto;
}
footer {
    display: flex;
    justify-content: space-between;
	align-items: center;
	padding: 20px;
    background-color: var(--accent2-color);
    font-family: var(--font-text);
}

footer nav {
    justify-self: end;
    margin-right: 50px;
}

.sociallinks a {
    text-decoration: none;
}
.sociallinks img {
    margin-right: 10px;
    width: 35px;
    height: auto;
}

footer p {
    margin-left: 600px;
    justify-self: center;
}

section {
    margin-left: 70px;
}